.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* full size background CSS, courtesy https://css-tricks.com/perfect-full-page-background-image/ */
/* background image swiped from a generic backgrounds website, not sure who to credit */
html { 
  background: url(/images/background.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

#logo {
  display: block;
  margin: auto;
  margin-top: 20px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ffda00;
    color: #806C00;
    text-align: center;
}

.guess {
  border: 2px solid #ffffff !important;
  width: 250px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0 0 12px #ffffff;
  transition: transform .2s; /* Animation */
}

@keyframes wrongSpin {
  0%   { -webkit-transform: rotate(0deg) scale(1); }
  10%  { -webkit-transform: rotate(90deg) scale(.75); }
  20%  { -webkit-transform: rotate(180deg) scale(.50); }
  30%  { -webkit-transform: rotate(270deg) scale(.25); }
  40% { -webkit-transform: rotate(360deg) scale(.25); }
  50% { -webkit-transform: rotate(0deg) scale(.25); }
  60% { -webkit-transform: rotate(0deg) scale(.25); }
  70%  { -webkit-transform: rotate(270deg) scale(.25); }
  80%  { -webkit-transform: rotate(180deg) scale(.50); }
  90%  { -webkit-transform: rotate(90deg) scale(.75); }
  100%  { -webkit-transform: rotate(0deg) scale(1); }
  
}

.guess-wrong {
  border: 2px solid #ffffff !important;
  width: 250px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0 0 12px #ffffff;
  transition: transform .2s; /* Animation */
  -webkit-animation: wrongSpin 0.75s; /* Safari 4+ */
  -moz-animation:    wrongSpin 0.75s; /* Fx 5+ */
  -o-animation:      wrongSpin 0.75s; /* Opera 12+ */
  animation:         wrongSpin 0.75s; /* IE 10+, Fx 29+ */
}

.guess:hover .guess-wring:hover {
  transform: scale(1.1);
}

@keyframes rightAnswer {
  from {color:#00ff15;}
  to {color:#ffffff;}
}

.correct {
  animation-name: rightAnswer;
  animation-duration: 0.5s;
  transition: transform .2s; /* Animation */
  transform: scale(1.3);
}

.incorrect {
  color: red;
  transition: transform .2s; /* Animation */
  transform: scale(1.3);
}

.incorrect-post {
  color: red;
}